.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    padding-right: 50px;
    padding-left: 50px;
    height: 100px;
}

.links-container{
    
    display: flex;
    gap: 1.5rem;

}

.nav-button {
  padding: 9px 16px;
  background-color: #f4f6fc;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-weight: 800;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #cbdcf5;
  color: #0056d2 
}

.nav-button.active {
  color: #0056d2;
  font-weight: 800;
}

.outlet{
    padding-top: 100px;
}

.auth-section{
  display: flex;
  justify-content: space-between;
  gap: 0.5rem

}